Located on:

/data/Tenebrion/tenebrion.txt

0 = Disable
1 = Enable

TENEBRION_HALF=0/1
- On Normal (Screen On) use the Half Freq CPU

TENEBRION_FORGIVE=0/1
- On Battery (Screen Off) use the Half Freq CPU

#############################################

TENEBRION_STATE=0 / 1
To determine which state changed. (But most likely it won't be used as we will use daemon to handle it instead of write it on disk)

0 = Screen Off
1 = Screen On

#############################################

The list of detecting screen state, this need to be done during installation (customize.sh) so we don't keep polling each time execution.

Determine where the path we will use:

Common Path
"/sys/class/drm/card0-DSI-1/dpms" - "On" or "Off"

Second Path
"/sys/class/leds/lcd-backlight/brightness" - Off then value is 0, if on the value more than 0

Compability using cmd
"cmd deviceidle get screen" - "false" or "true"

Therefore the constraints defined is 

TENEBRION_COMMON_PATH=0/1 
(For "/sys/class/drm/card0-DSI-1/dpms" - "On" or "Off")

TENEBRION_SECOND_PATH=0/1
("/sys/class/leds/lcd-backlight/brightness" - Off then value is 0, if on the value more than 0)

TENEBRION_COMPABILITY=0/1
("cmd deviceidle get screen" - "false" or "true")

#############################################